input {
  cursor: default;
  border: none;
  color: var(--inputColor, #3f4f5f);
  height: var(--height, 42px);
  line-height: var(--height, 42px);
  padding: var(--inputPadding, var(--padding, var(--internalPadding)));
  width: 100%;
  background: transparent;
  font-size: var(--inputFontSize, 14px);
  letter-spacing: var(--inputLetterSpacing, -0.08px);
  /* position: absolute; */
  left: var(--inputLeft, 0);
  margin: var(--inputMargin, 0);
}

input::placeholder {
  color: var(--placeholderColor, #78848f);
  opacity: var(--placeholderOpacity, 1);
}

input:focus {
  outline: none;
}

input.disabled::placeholder {
  color: var(--disabledPlaceholderColor, #c1c6cc);
  opacity: var(--disabledPlaceholderOpacity, 1);
}
