.container {
  --internalPadding: 0 16px;
  border: var(--border, 1px solid #d8dbdf);
  border-radius: var(--borderRadius, 3px);
  box-sizing: border-box;
  height: var(--height, 42px);
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--padding, var(--internalPadding));
  background: var(--background, #fff);
  margin: var(--margin, 0);
}

.container.disabled {
  background: var(--disabledBackground, #ebedef);
  border-color: var(--disabledBorderColor, #ebedef);
  color: var(--disabledColor, #c1c6cc);
}

.container:hover {
  border-color: var(--borderHoverColor, #b2b8bf);
}

/* .container.focused {
  border-color: var(--borderFocusColor, #006fe8);
} */
