.item {
  cursor: default;
  height: var(--height, 42px);
  line-height: var(--height, 42px);
  padding: var(--itemPadding, 0 20px);
  color: var(--itemColor, inherit);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item:active {
  background: var(--itemActiveBackground, #b9daff);
}

.item.selected {
  background: var(--itemSelectedBG, #007aff);
  color: var(--itemSelectedColor, #fff);
}

/* .item.notSelectable {
    color: var(--itemIsNotSelectableColor, #999);
} */

.item.first {
  border-radius: var(--itemFirstBorderRadius, 4px 4px 0 0);
}

.item.hover:not(.selected) {
  background: var(--itemHoverBG, #e7f2ff);
  color: var(--itemHoverColor, inherit);
}
