.qs-container {
  --padding: 0 16px;
  --height: 42px;
  border: 1px solid #d8dbdf;
  border-radius: 3px;
  box-sizing: border-box;
  padding: var(--padding);
  background: #fff;
  /* height: var(--height); */
  /* margin: 0; */
}

.qs-container:hover {
  border-color: #b2b8bf;
}

.qs-container:focus-within {
  border-color: #006fe8;
}

.qs-container[data-disabled="true"] {
  background: #ebedef;
  border-color: #ebedef;
  color: #c1c6cc;
  pointer-events: none;
}

.qs-single-control,
.qs-multi-control {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /* height: var(--height); */
  /* align-items: stretch; */
}

.qs-placeholder,
.qs-single-value {
  line-height: var(--height);
  height: var(--height);
  overflow-x: hidden;
  padding: 0 20px 0 0;
  color: #78848f;
}

.qs-container[data-disabled="true"] .qs-placeholder,
.qs-container[data-disabled="true"] .qs-single-value {
  color: #c1c6cc;
}

.qs-multi-value {
  line-height: 32px;
  background: #ebedef;
  border-radius: 16px;
  padding: 0 10px 0 15px;
  margin: 3px;
  display: flex;
  /* height: 32px; */
  /* max-width: 100%; */
  /* cursor: default; */
}

.qs-multi-value:hover {
  background-color: #006fff;
  color: #fff;
}

.qs-multi-value-label {
  margin: 0 5px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.qs-multi-value-clear {
  border-radius: 50%;
  background: #52616f;
  min-width: 16px;
  max-width: 16px;
  height: 16px;
  text-align: center;
  padding: 1px;
  position: relative;
  top: 8px;
}

.qs-multi-value-clear:hover {
  background: #fff;
}

.qs-multi-value-clear svg {
  fill: #ebedef;
  vertical-align: top;
}

.qs-multi-value-clear:hover svg {
  fill: #006fff;
}

.qs-container input {
  width: 100%;
  border: none;
  background: transparent;
  color: #3f4f5f;
  line-height: var(--height);
  letter-spacing: -0.08px;
  font-size: 14px;
  /* cursor: default; */
  /* height: var(--height); */
  /* padding: var(--padding); */
  /* margin: 0; */
}

.qs-container input:focus {
  outline: none;
}

.qs-single-control input {
  position: absolute;
  top: 0;
  left: 0;
}

.qs-multi-control input {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50px;
}

.qs-clear-button {
  position: absolute;
  right: 10px;
  top: 11px;
  bottom: 11px;
  width: 20px;
  color: #c5cacf;
  flex: none !important;
}

.qs-clear-button:hover {
  color: #2c3e50;
}

.qs-container:focus-within .qs-clear-button {
  color: #3f4f5f;
}

.qs-spinner {
  position: absolute;
  right: 10px;
  top: 11px;
  width: 20px;
  height: 20px;
  color: #51ce6c;
  animation: qs-spinner-rotate 0.75s linear infinite;
}

@keyframes qs-spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.qs-spinner-icon {
  display: block;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.qs-spinner-path {
  stroke-dasharray: 90;
  stroke-linecap: round;
}

.qs-menu {
  box-shadow: 0 2px 3px 0 rgba(44, 62, 80, 0.24);
  border-radius: 4px;
  max-height: 250px;
  overflow-y: auto;
  background: #fff;
  border: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 0;
  right: 0;
  margin-top: 5px;
}

.qs-item {
  cursor: default;
  height: 42px;
  line-height: 42px;
  padding: 0 20px;
  color: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.qs-item[data-selected="true"] {
  background: #007aff;
  color: #fff;
}

.qs-item:hover:not([data-selected="true"]),
.qs-item[data-hovered="true"]:not([data-selected="true"]) {
  background: #e7f2ff;
  color: inherit;
}

.qs-empty {
  text-align: center;
  padding: 20px 0;
  color: #78848f;
}
