.list {
  box-shadow: var(--listShadow, 0 2px 3px 0 rgba(44, 62, 80, 0.24));
  border-radius: var(--listBorderRadius, 4px);
  max-height: var(--listMaxHeight, 250px);
  overflow-y: auto;
  background: var(--listBackground, #fff);
  border: var(--listBorder, none);
  position: var(--listPosition, absolute);
  z-index: var(--listZIndex, 2);
  width: 100%;
  left: var(--listLeft, 0);
  right: var(--listRight, 0);
  /* margin-top: var(--listMarginTop, 5px); */
}
